<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >
    <head>
    </head>
    <body>
    <wicket:extend>
        <div class="panel panel-default titlebar">
            <div class="panel-body">
                <h4>List of Customers</h4>
            </div>
        </div>
        <div class="container">

            <div>
                <button type="button" class="btn btn-default btn-custom"><span class="glyphicon glyphicon-arrow-left"></span></button>
                <button type="button" class="btn btn-default btn-custom"><span class="glyphicon glyphicon-plus"></span> New</button>

            </div>
        <div class="panel panel-default">

            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Organization</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tr wicket:id="customers">
                        <td><span wicket:id="firstName"></span></td>
                        <td><span wicket:id="lastName"></span></td>
                        <td><span wicket:id="organization"></span></td>
                        <td><span wicket:id="email"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </wicket:extend>
    </body>
</html>
